* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

:root {
  --primaryWhite: rgb(245, 245, 245);
  --secondaryWhite: rgb(206, 206, 206);
  --tertiayWhite: rgb(175, 174, 174);
  --primaryBlue: rgb(25, 236, 212);
  --secondaryBlue: rgb(19, 69, 90);
}
