.btn {
  border-color: #8bd0f0;
}

.btn:hover {
  color: #222;
  background-color: #8bd0f0;
  border-color: #8bd0f0;
}

.btn-cta,
.btn-cta:focus {
  border: 2px solid #8bd0f0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  color: #8bd0f0;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.btn-cta span,
.btn-cta:focus span {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.17, 0.53, 0.51, 0.96) 0s;
  transition: all 0.5s cubic-bezier(0.17, 0.53, 0.51, 0.96) 0s;
  font-weight: 800;
}

.btn-cta::after,
.btn-cta:focus::after {
  content: "";
  background-color: #8bd0f0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0px at center);
  clip-path: circle(0px at center);
  -webkit-transition: all 0.5s cubic-bezier(0.17, 0.53, 0.51, 0.96) 0s;
  transition: all 0.5s cubic-bezier(0.17, 0.53, 0.51, 0.96) 0s;
}

.btn-cta:hover,
.btn-cta:focus:hover {
  color: #222;
}

.btn-cta:hover::after,
.btn-cta:focus:hover::after {
  -webkit-clip-path: circle(100% at center);
  clip-path: circle(100% at center);
}
